@font-face {
    font-family: 'prstart';
    src: url('prstart.ttf');
}

.jeux {
    display: inline-block;
    margin-left: 30px;
    text-decoration: none;
    padding: auto;
}

.jeux:hover,
.jeux .solo:hover,
.jeux .multi:hover {
    cursor: pointer;
}

.jeux p {
    color: #3c3c58;
    font-family: 'prstart', serif;
    font-size: 10px;
    margin-bottom: -5px;
    padding: 5px;
    background-color: #dce3e6;
    border-radius: 5px;
    border: 3px double #313853;
}

.jeux img {
    width: 170px;
    height: 170px;
    display: block;
    margin: auto;
    border: 1px solid #313853;
}

.jeux input {
    width: 94px;
    height: 17px;
    position: absolute;
    display: block;
    margin-top: -46px;
    text-align: center;
    color: #dce3e6;
    font-family: 'prstart', serif;
    background-color: rgba(85, 85, 116, 0.9);
    border-color: #313853;
    border-radius: 5px;
}

.jeux .solo {
    margin-left: 1px;
}

.jeux .multi {
    margin-left: 102px;
}

.jeu {
    border-radius: 5px;
    transition-duration: 1s;
}

p {
    text-align: center;
    margin-top: 25px;
    color: white;
}

body {
    background-image: url(../image/space_invaders.png);
    background-repeat: repeat;
}

h1 {
    font-family: 'prstart', serif;
    font-size: 50px;
    color: #232b36;
    text-align: center;
}

#utilisateur {
    position: absolute;
    margin: -4% 90%;
}

.co {
    text-align: center;
}

.chat {
    border: 3px #888888 ridge;
    position: absolute;
    width: 46%;
    margin-left: 50%;
    height: 40%;
    margin-top: -1%;
    background-color: rgba(145, 133, 133, 0.5);
}

.boutik {
    border: 3px #888888 ridge;
    position: absolute;
    width: 46%;
    margin-left: 50%;
    margin-top: 20%;
    height: 30%;
    background-color: rgba(145, 133, 133, 0.5);
}

label {
    color: white;
}
/* DEBUT calendrier JS : jsSimpleDatePickr */

#calendarMain1,
#calendarMain2 {
    margin-left: 20%;
    display: inline;
}
/* conteneur calendrier */

.calendarWrap {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 210px;
    padding: 5px 10px 10px 10px;
    background-color: #2e373f;
    /*background-color: rgba(46, 55, 63, 0.95);*/
    
    border-radius: 10px;
    -moz-box-shadow: 0 0 10px #555;
    -webkit-box-shadow: 0 0 10px #555;
    box-shadow: 0 0 10px #555;
    font-size: 12px;
}
/* bouton d'affichage*/

#calendarMain1 > input,
#calendarMain2 > input {
    display: block;
    width: 100px;
    height: 22px;
    padding-top: 2px;
    background-color: #2e373f;
    color: #fff;
    border-radius: 5px;
    border: none;
}

#calendarMain1 > input:hover,
#calendarMain2 > input:hover {
    background-color: #2673cb;
}
/* navigation dans le calendrier */

.calendarWrap ul {
    margin: 5px 0 10px 0;
    padding: 0;
}

.calendarWrap li {
    margin: 0;
    padding: 0;
    width: 20px;
    display: inline-block;
    *display: inline;
}

.calendarWrap li.calendarTitle {
    width: 170px;
    color: #ccc;
    text-align: center;
}

.calendarWrap li input {
    width: 20px;
    background-color: #5d6f7f;
    border: none;
    color: #fff;
}

.calendarWrap li input:hover {
    background-color: #6f8598;
}
/* calendrier */

.jsCalendar {
    color: #fff;
    border-collapse: collapse;
}

.jsCalendar th {
    color: #8ba7bf;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

.jsCalendar td {
    padding: 0;
    border: none;
}

.jsCalendar a {
    display: block;
    width: 30px;
    padding: 3px 0 3px 0;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.jsCalendar .day:hover a {
    background-color: #2673cb;
    border-color: #2673cb;
}

.jsCalendar .selectedDay a {
    background-color: #c44d38;
    border-color: #c44d38;
}
/* FIN calendrier JS : jsSimpleDatePickr */

form {
    border: 3px #888888 ridge;
    display: inline-block;
    align-content: center;
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

table {
    align-items: center;
}

iframe {
    height: 100%;
    width: 100%;
}
#afficheMessage {
    padding-left: 5%;
    padding-right: 5%;
    height : 45%;
}

#saisieMessage {
    width : 98%;
}

#form {
    width : 92%;
}
