@font-face {
    font-family: 'prstart';
    src: url('prstart.ttf');
}

.jeux {
    display: inline-block;
    margin-left: 30px;
    text-decoration: none;
    padding: auto;
}

.jeux:hover, .jeux .solo:hover, .jeux .multi:hover {
    cursor: pointer;
}

.jeux p {
    color: #05054d;
    margin-bottom: -5px;
    background-color: #659bb7;
    border-radius: 5px;
}

.jeux img{
    width : 150px;
    height : 150px;
    display: block;
    margin: auto;
}

.jeux input{
    color: #05054d;
    background-color: #adcfe0;
    border-color: cornflowerblue;
    border-radius: 5px;
}

.jeux .solo{
    width : 94px;
    height : 19px;
    position: absolute;
    display: block;
    margin-top: -39px;
    margin-left: 0;
    text-align: center;
}

.jeux .multi{
    width : 94px;
    height : 19px;
    position: absolute;
    display: block;
    margin-top: -39px;
    margin-left: 101px;
    text-align: center;
}

.jeu {
    border-radius: 5px;
    transition-duration: 1s; 
}

p {
    text-align: center;
    margin-top: 25px;
    color: white;
}

body {
    background-image: url(../image/space_invaders.png);
    background-repeat: repeat;
}

h1 {
    font-family: 'prstart', serif;
    font-size: 50px;
    color : #232b36;
    text-align: center;
}

#utilisateur{
    position : absolute;
    margin : -4% 90%;
}

.co{
    text-align: center;   
}

.chat {
    position: absolute;
    width: 46%;
    margin-left: 50%;
    height: 40%;
    border-radius: 5%;
    background-color: rgba(255,255,255,0.5);
}

.boutik {
    position: absolute;
    width: 46%;
    margin-left: 50%;
    margin-top: 22%;
    height: 35%;
    border-radius: 5%;
    background-color: rgba(255,255,255,0.5);
}

label {
    color: white;
}

/* DEBUT calendrier JS : jsSimpleDatePickr */
#calendarMain1, #calendarMain2{
    margin-left: 20%;
    display: inline;
}
/* conteneur calendrier */
.calendarWrap{
    display: none;
    position: absolute;
    z-index: 1000;
    width: 210px;
    padding: 5px 10px 10px 10px;
    background-color: #2e373f;
    /*background-color: rgba(46, 55, 63, 0.95);*/
    border-radius: 10px;
    -moz-box-shadow: 0 0 10px #555;
    -webkit-box-shadow: 0 0 10px #555;
    box-shadow: 0 0 10px #555;
    font-size: 12px;
}
/* bouton d'affichage*/
#calendarMain1 > input, #calendarMain2 > input{
    display: block;
    width: 100px;
    height: 22px;
    padding-top: 2px;
    background-color: #2e373f;
    color: #fff;
    border-radius: 5px;
    border: none;
}
#calendarMain1 > input:hover, #calendarMain2 > input:hover{
    background-color: #2673cb;
}
/* navigation dans le calendrier */
.calendarWrap ul{
    margin: 5px 0 10px 0;
    padding: 0;
}
.calendarWrap li{
    margin: 0;
    padding: 0;
    width: 20px;
    display: inline-block;
    *display: inline;
}
.calendarWrap li.calendarTitle{
    width: 170px;
    color: #ccc;
    text-align: center;
}
.calendarWrap li input{
    width: 20px;
    background-color: #5d6f7f;
    border: none;
    color: #fff;
}
.calendarWrap li input:hover{
    background-color: #6f8598;
}
/* calendrier */
.jsCalendar{
    color: #fff;
    border-collapse: collapse;
}
.jsCalendar th{
    color: #8ba7bf;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}
.jsCalendar td{
    padding: 0;
    border: none;
}
.jsCalendar a{
    display: block;
    width: 30px;
    padding: 3px 0 3px 0;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
.jsCalendar .day:hover a{
    background-color: #2673cb;
    border-color: #2673cb;
}
.jsCalendar .selectedDay a{
    background-color: #c44d38;
    border-color: #c44d38;
}
/* FIN calendrier JS : jsSimpleDatePickr */
form {
    display: inline-block;
    align-content: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5%;
    background-color: rgba(255, 255, 255, 0.5);
}

table {
    align-items: center;
}

iframe{
    height: 100%;
    width: 100%;
}























>>>>>>> origin/master
