.jeux {
    display: inline-block;
    margin-left: 30px;
    text-decoration: none;
    padding: auto;
}

.jeux:hover, .jeux .solo:hover, .jeux .multi:hover {
    cursor: pointer;
}

.jeux p {
    color: #05054d;
    margin-bottom: -5px;
    background-color: #659bb7;
}

.jeux img{
    width : 150px;
    height : 150px;
    display: block;
    margin: auto;
}

.jeux .solo{
    width : 94px;
    height : 19px;
    position: absolute;
    display: block;
    margin-top: -39px;
    margin-left: 0;
    text-align: center;
}

.jeux .multi{
    width : 94px;
    height : 19px;
    position: absolute;
    display: block;
    margin-top: -39px;
    margin-left: 101px;
    text-align: center;
}

.jeu {
    transition-duration: 1s; 
}

p {
    text-align: center;
    margin-top: 25px;
    color: white;
}

body {
    background-image: url(../image/fond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 50px;
    color : white;
    text-align: center;
}

#utilisateur{
    position : absolute;
    margin : -4% 90%;
}

.co{
    text-align: center;   
}


.chat {
    position: absolute;
    width: 46%;
    margin-left: 50%;
    height: 40%;
    border-radius: 5%;
    background-color: rgba(255,255,255,0.5);
}

.boutik {
    position: absolute;
    width: 46%;
    margin-left: 50%;
    margin-top: 22%;
    height: 35%;
    border-radius: 5%;
    background-color: rgba(255,255,255,0.5);
}

label {
    color: white;
}
